/* You can add global styles to this file, and also import other style files */
.leaflet-right .leaflet-control {
  margin-top: 250px;
}

.leaflet-searchbox-control-container {
  background-color: pink;
}
